Package: me.lightmann.andsoareyou
Name: AndSoAreYou
Version: 1.0.0
Architecture: iphoneos-arm
Description: Get root and run commands for IAmLazy
Maintainer: Lightmann
Author: Lightmann
Section: System
