Package: me.lightmann.iamlazy
Name: IAmLazy
Version: 1.4.3
Depends: coreutils, findutils, gzip, tar, firmware (>= 13.0)
Architecture: iphoneos-arm
Description: Easily backup and restore your tweaks from an 'offline' backup
Maintainer: Lightmann
Author: Lightmann
Section: Utilities
Icon: https://raw.githubusercontent.com/L1ghtmann/IAmLazy/main/icon.png
