Package: me.lightmann.iamlazy
Name: IAmLazy
Version: 2.1.2
Depends: apt, uikittools, firmware (>= 13.0), firmware (<< 15.0)
Conflicts: me.lightmann.iamlazy-cli
Architecture: iphoneos-arm
Description: Easily backup and restore your tweaks
Maintainer: Lightmann
Author: Lightmann
Section: Utilities
