Package: me.lightmann.iamlazy
Name: IAmLazy
Version: 1.0.1
Depends: mobilesubstrate, preferenceloader, rsync, coreutils, tar, xz | xz-utils, firmware (>= 13.0)
Architecture: iphoneos-arm
Description: Easily backup and restore your tweaks!
Maintainer: Lightmann
Author: Lightmann
Section: Utilities
Icon: https://raw.githubusercontent.com/UsrLightmann/IAmLazy/main/icon.png